.img-scrol{
  width: 6% !important;
}
.slides{
  background: #f3f3f382;
  border-radius: 20px;
  margin-top: 2rem;
  cursor: pointer;
  height: 15rem;
   
}
.comments{
height: 7em;
border-radius: 20px;
background: #80bdff6e;
border-radius: 10px;
position: relative;


}
.triangle {
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid #80bdff6e;
  position: absolute;
  bottom: -14.5px;
}
.custom-dots {
  text-align: center;
}

.custom-dots .dot {
  font-size: 16px;
  margin: 5px;
  cursor: pointer;
  color: #ccc;
  transition: color 0.3s ease-in-out;
}

.custom-dots .dot.active {
  color: #80bdff6e;
}